<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body class="home">
        <%- include('./partials/nav.ejs') %>
            <h1>Personal Faccebook</h1>
            <p>Write new message your friends</p>
    </body>

</html>